/******************************************
          BASE STYLES
*******************************************/
* { 
    box-sizing: border-box;
    /*border: 1px solid red;****used for debugging purposes****/
  }

body {
    font-family: 'Nunito', sans-serif;
    margin: 0 auto 0;
    font-size: 0.8em;
  }

input[type="text"]:focus
 {
    border: 1.5px solid hsl(215, 50%, 34%);
}

input[type="email"]:focus
 {
    border: 1.5px solid hsl(215, 50%, 34%);
}

input[type="tel"]:focus
 {
    border: 1.5px solid hsl(215, 50%, 34%);
}

select:focus {
    border: 1.5px solid hsl(215, 50%, 34%);
}
  
hr {
    border-bottom: 1px solid hsl(210, 100%, 56%);
}
/*****************************************
            MOBILE VIEW
******************************************/

/***************** Header ****************/
.mainHeading {
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: hsl(210, 100%, 56%); /* doger blue */
    color: white;
    padding: 0.15em;
    font-family: 'Orbiton', san-serif;
    font-size: 1.15em;
}

.intro__heading {
    font-size: 1em ;
}

/***************  Main *******************/
form {
    width: 100%;
    margin: 1.75em auto;
    padding: 0 1em;
    color: hsl(215, 50%, 34%);

} 

.intro, .onlineForm-copyright {
    text-align: center;
}

/*** creates the double after the intro ***/
.double {
    width: 100%; 
    height: 5px; 
    border-top: 3px solid hsl(210, 100%, 56%); 
    border-bottom: 1px solid hsl(210, 100%, 56%); 
    margin-bottom: 0.8em;
  }

legend {
    padding: 0.08em 0.4em;
    margin-bottom: 0.8em;
    font-size: 1.1em;
    background-color: hsl(210, 100%, 56%); 
    border-radius: 5px;

}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    background: rgba(255,255,255,0.8);
    border: none;
    font-size: 1.2em;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    border-radius: 0.25em;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    transition: border 0.29s ease-in;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0 4px 8px 0;
    width: 0.8em;
    height: 0.8em;
}

input[type="checkbox"]:checked {
    outline: 0.5px solid green;
}


input::placeholder {
    text-align: right;
    font-style: italic; 
    padding-right: 0.5em;
    font-size: 0.7em;
}

#zipCode {
    width: 40%;
}
fieldset {
    margin-bottom: 20px;
    border: none;
}
    
label {
    display: block;
    margin-bottom: 8px;
}

label.inlineDisplay {
    display: inline;
}

.contactInfo {
    background-color: hsla(240, 29%, 95%, 0.2);
    border-radius: 5px;
    border: 1px solid hsla(240, 7%, 43%, 0.2);
}


/****** NewsLetter Fieldset *******/
.newsLetter__options {
    margin-top: 0;
}

.newsLetter__legend {
    background-color: hsl(214, 100%, 75%);
}
.newsLetter__textareaLabel {
    padding: 0.5em 0;
}

.newsLetter {
    line-height: 1.5em;
    width: 100%;
    padding: 0;
    background-color: hsla(240, 67%, 98%, 0.5);
    border-radius: 4px;
    padding: 0 10px 0 10px;
    border: 1px solid hsla(240, 7%, 43%, 0.2);
    margin-bottom: 1.8em;
}

button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 1.1em;
    text-align: center;
    font-style: normal;
    border-radius: 0.25em;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-top: -20px;
    margin-bottom: 10px;
}

.onlineForm-copyright {
    font-style: italic;
}


/*==============================================
                MEDIA QUERIES
==============================================*/

/***********************************************
   MEDIA QUERY FOR TABLETS AND DESKTOP {min-width: 768px}
 
 **********************************************/
 @media screen and (min-width: 768px) {

/*********** header ****************/ 


/*************  Main ******************/
    label {  
        display: inline-block;
        width: 25%;
    }

    legend {
        font-size: 1.4em;
    }

    .mainHeading {
        font-size: 1.5em;
    }

    .intro__heading {
        font-size: 1.4em ;
    }

    .newsLetter__textareaLabel {
        width: 100%;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="tel"],
    select {
        width: 70%;
    }

    form {
        max-width: 800px;
        font-size: 1.3em;
    }
}
